<script lang="ts">
  import { onMount } from 'svelte';

  let liked = false;
  let disliked = false;

  onMount(async () => {
    // Initialization logic here, e.g., setting initial reaction state
  });

  // eslint-disable-next-line  @typescript-eslint/no-unused-vars 
  function toggleReaction(type: string) {
    // todo: implement reaction toggle logic
    // reactPost(type, event.aTag, event.editLvl);
  }
</script>

<div class="base-card">
  <div class="content">
    <slot name="content"></slot> <!-- Content injected here from child components -->
  </div>
  <div class="reactions">
    <button on:click={() => toggleReaction('like')}>
    {liked ? 'Liked' : 'Like'}
    </button>
    <button on:click={() => toggleReaction('dislike')}>
    {disliked ? 'Disliked' : 'Dislike'}
    </button>
  </div>
</div>

<style>
  .base-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  .content { margin-bottom: 10px; }
  .reactions { display: flex; gap: 10px; }
</style>
