<!-- todo: component not used, use or remove later -->
<script lang="ts">
  import BaseCard from './BaseCard.svelte';

// eslint-disable-next-line  @typescript-eslint/no-unused-vars 
  function handleOpinionSubmit() {
    // submit(opinion.content, opinion.aTag, opinion.editLvl);
  }
</script>

<BaseCard>
    <span slot="content">Reply</span>
</BaseCard>