<div class="loader"></div>
<style>
 .loader {
  position:relative;
  margin: 0 auto;
  margin-top: 10rem;
  width: 60px;
  height: 60px;
  border: 10px solid #1cd42550;
  border-top-color: #1cd425;
  animation: spin013151 1s linear infinite;
  border-radius: 100%;
}

@keyframes spin013151 {
  to {
    transform: rotate(360deg);
  }
}
</style>