<script lang="ts">
	import { slide } from 'svelte/transition';
	import { theme } from '../stores/stores';

	let textarea: HTMLTextAreaElement;

	export let replyValue: string;
	const updateContent = () => {
		replyValue = textarea.value;
	};
</script>

<textarea transition:slide bind:this={textarea} on:input={updateContent} class="textarea-style" class:dark={$theme === 'dark'}>
</textarea>

<style>
	.textarea-style {
		width: 100%;
		min-height: 200px;
		background-color: #f8f8f8;
		color:#333;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 10px;
		font-family: 'Arial', sans-serif;
		font-size: 16px;
		line-height: 1.5;
		resize: vertical;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		transition:
			border-color 0.3s,
			box-shadow 0.3s;
	}
	.dark {
		background-color: black;
		color: white;
	}
</style>
