<svg width="20" height="20" viewBox="0 0 1024 1024" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <g opacity="1">
    <path d="M967.111 227.556H739.556V56.889H284.444v170.667H56.89v56.888h113.778v682.667h682.666V284.444h113.778v-56.888zM341.333 113.778h341.334v113.778H341.333V113.778z m455.111 796.444H227.556V284.444h568.888v625.778z
    M398.222 341.333h56.89v512h-56.89z m170.667 0h56.889v512h-56.89z" fill="#73777A"/>
    </g>
    </svg>