<svelte:options customElement="nostr-opinion" />

<script lang="ts">
	import {
		deletedEventsArrayStore,
		isMine,
		localStore,
		ndkUser,
		newOpinionStore,
		opinionContentStore,
		profileStore,
		sentimentCountStore,
		showAuthenticationModal,
		showMoreNewOpinions,
		showOpinionModal,
		theme,
		themeModeLocalStorageObject,
		trustedAuthorsStore
	} from './stores/stores';
	import Positive from './components/icons/Positive.svelte';
	import Neutral from './components/icons/Neutral.svelte';
	import Negative from './components/icons/Negative.svelte';
	import Login from './components/Login.svelte';
	import OpinionCard from './components/OpinionCard.svelte';
	import ConfirmationModal from './components/ConfirmationModal.svelte';
	import ndk from './stores/provider';
	import { fetchUserProfile } from './utils/helper';
	import {
		NDKEvent,
		type NDKFilter
	} from '@nostr-dev-kit/ndk';
	import {
		DEFAULT_RELAY_URLS,
		opinionHeaderRegex,
		opinionFooterRegex,
		kindDelete,
		kindOpinion,
		profileImageUrl
	} from './utils/constants';
	import { fade, slide } from 'svelte/transition';
	import type { ExtendedBaseType } from '@nostr-dev-kit/ndk-svelte';
	import { initializeApprovedAuthors } from './utils/approvedAuthors';
	import type { ExpertOpinions } from './main';
	import { onDestroy } from 'svelte';
	import Toast from './components/toast/Toast.svelte';
	import Loader from './components/Loader.svelte';
	import Register from './components/Register.svelte';
	import DOMPurify from 'dompurify';
	import OpinionModal from './components/modal/Opinion/OpinionModal.svelte';

	export let subject: string;
	export let opinionTitle: string;
	export let opinionHeader: string = opinionTitle;
	export let opinionFooter: string | undefined = undefined;
	export let opinionImage: string | undefined = undefined;
	export let opinionTags: string = 'NostrOpinion';
	export let summary: string = `An opinion made about ${subject} generated using nostr-opinion-plugin.`;
	export let themeModeLocalStorageHandle: string = 'colour-scheme';

	let relay_urls = JSON.parse(JSON.stringify(DEFAULT_RELAY_URLS));
	let expertOpinions: ExpertOpinions;

	let allEvents: ExtendedBaseType<ExtendedBaseType<NDKEvent>>[] = [];
	let filteredEvents: ExtendedBaseType<ExtendedBaseType<NDKEvent>>[] = [];
	let editLvl = 0;
	let published_at:string = "0";
	newOpinionStore.set({
		content: '',
		sentiment: '0'
	});
	opinionContentStore.set('');
	let loading = true;
	sentimentCountStore.set({
		'-1': 0,
		'0': 0,
		'1': 0
	});
	let filter: 'approved' | 'all' = 'approved';

	let count = 0;
	let allEventLength = 0;
	let filteredEventLength = 0;
	let showModal: boolean = false;
	$: if ($trustedAuthorsStore) {
		sortEvents();
	}

	$: $showMoreNewOpinions, checkIfOpinionExists();

	$: {
		allEventLength = allEvents.filter((e) => !$deletedEventsArrayStore.includes(e)).length;
		filteredEventLength = filteredEvents.filter(
			(e) => !$deletedEventsArrayStore.includes(e)
		).length;
	}
	let ndkFilter: NDKFilter = { kinds: [kindOpinion], '#d': [subject] };
	const sub = $ndk.storeSubscribe(ndkFilter, { closeOnEose: false });
	$: {
		$sub.forEach(async (event) => {
			const value = allEvents.filter((e) => {
				return e.pubkey === event.pubkey;
			});
			if (value.length) {
				allEvents = allEvents.map((e) => {
					if (e.pubkey === event.pubkey) {
						return event;
					} else {
						return e;
					}
				});
			} else {
				allEvents = [...allEvents, { ...event } as NDKEvent];
				const content = await fetchUserProfile(event.pubkey);
				if (!content.image) content.image = profileImageUrl + event.pubkey;
				if (!content.pubkey) content.pubkey = event.pubkey;
				profileStore.update((e) => {
					e[event.pubkey] = { content };
					return e;
				});
			}
			sortEvents();
		});
	}

	const id = setInterval(() => {
		theme.set(localStorage.getItem(themeModeLocalStorageHandle) || 'light');
	}, 1000);

	onDestroy(() => {
		clearInterval(id);
	});

	const sortEvents = () => {
		sentimentCountStore.set({
			'-1': 0,
			'0': 0,
			'1': 0
		});
		filteredEvents = allEvents.filter((e) => {
			if (filter === 'approved') {
				const trusted = $trustedAuthorsStore.includes(e.pubkey);
				if (!trusted) return false;
			}
			const sentiment = e.tags.find((t) => t[0] === 'sentiment')?.[1];
			if (sentiment && !$deletedEventsArrayStore.includes(e)) {
				sentimentCountStore.update((e) => {
					e[sentiment] += 1;
					return e;
				});
			}
			return true;
		});

		filteredEvents = filteredEvents.sort((a, b) => {
			const aTrusted = $trustedAuthorsStore.includes(a.pubkey);
			const bTrusted = $trustedAuthorsStore.includes(b.pubkey);
			if (aTrusted && !bTrusted) return -1;
			if (!aTrusted && bTrusted) return 1;
			let aCreatedAt = a?.created_at || 0;
			let bCreatedAt = b?.created_at || 0;
			if (aCreatedAt > bCreatedAt) return -1;
			if (aCreatedAt < bCreatedAt) return 1;
			return 0;
		});
	};

	async function findUserProfileData(pubkey: string) {
		if (!$ndkUser) {
			console.info("Can't find user profile. $ndkUser is undefined");
			return;
		}
		let content = await fetchUserProfile(pubkey);
		if (!content) {
			content = { image: profileImageUrl + $ndkUser.pubkey, pubkey: $ndkUser.pubkey };
		}
		if (!content.image) content.image = profileImageUrl + pubkey;
		if (!content.pubkey) {
			content.pubkey = pubkey;
		}
		return { content };
	}

	const initialization = async () => {
		expertOpinions = (await import('./main')).expertOpinions;
		themeModeLocalStorageObject.set(themeModeLocalStorageHandle);
		try {
			trustedAuthorsStore.set(await initializeApprovedAuthors());
			const isloggedIn = $localStore.lastUserLogged;
			loading = false;
			if (isloggedIn && window) {
				let user = $ndk.getUser({
					npub: isloggedIn
				});
				checkIfOpinionExists();
				let fetchRelays = await $ndk.fetchEvent({ kinds: [10002], authors: [user.pubkey] });
				if (fetchRelays) {
					fetchRelays.getMatchingTags('r').map((tags) => {
						if (!relay_urls.read.includes(tags[1])) {
							if (tags.length === 3) {
								if (tags[2] === 'write' && !relay_urls.write.includes(tags[1])) {
									relay_urls.write.push(tags[1]);
								} else if (tags[2] === 'read' && !relay_urls.read.includes(tags[1])) {
									relay_urls.read.push(tags[1]);
								}
							} else if (tags.length === 2) {
								if (!relay_urls.write.includes(tags[1])) {
									relay_urls.write.push(tags[1]);
								}
								if (!relay_urls.read.includes(tags[1])) {
									relay_urls.read.push(tags[1]);
								}
							}
						}
					});
				}
				ndkUser.set(user);
				if ($ndkUser) {
					let userProfileValue = await findUserProfileData($ndkUser.pubkey);
					profileStore.update((e) => {
						e[$ndkUser.pubkey] = userProfileValue;
						return e;
					});
				}
				allEvents.map((e) => {
					if (e.pubkey === $ndkUser?.pubkey) {
						isMine.set(true);
						published_at = e.tags.filter((value) => value[0] === 'published_at')[0]?.[1];
					}
				});
			}
		} catch (error) {
			console.error(error);
		}
	};
	initialization();

	let userHasAgreed = false;

	$: if ($ndkUser?.pubkey && $profileStore[$ndkUser?.pubkey]) {
		const userAgreementKey = `userHasAgreed_${$ndkUser.pubkey}`;
		userHasAgreed = localStorage.getItem(userAgreementKey) === 'true';
	} else {
		userHasAgreed = false;
	}
	function handleAgree() {
		if (!userHasAgreed) {
			showModal = true;
		} else {
			filter = 'all';
			sortEvents();
			showMoreNewOpinions.set(false);
		}
	}

	function agreeToShowAll() {
		filter = 'all';
		sortEvents();
		showMoreNewOpinions.set(false);
		showModal = false;
		userHasAgreed = true;
		if ($ndkUser?.pubkey) {
			const userAgreementKey = `userHasAgreed_${$ndkUser.pubkey}`;
			localStorage.setItem(userAgreementKey, userHasAgreed.toString());
		}
	}
	function onCancel() {
		showModal = false;
	}
	const checkIfOpinionExists = async () => {
		if ($ndkUser) {
			let ndkFilter = { kinds: [kindOpinion], '#d': [subject], authors: [$ndkUser.pubkey] };
			const opinion = await $ndk.fetchEvent(ndkFilter);
			let deleteFilter = {
				kinds: [kindDelete],
				'#a': [`${kindOpinion}:${$ndkUser.pubkey}:${subject}`],
				authors: [$ndkUser.pubkey]
			};
			const del = await $ndk.fetchEvent(deleteFilter);
			if (del?.created_at < opinion?.created_at || (!del && opinion)) {
				isMine.set(true);
				let content =
					opinion?.content.replace(opinionHeaderRegex, '').replace(opinionFooterRegex, '') || '';
				const sentiment = opinion?.tagValue('sentiment') || '0';
				newOpinionStore.set({ content, sentiment });
				opinionContentStore.set(content);
			} else if ($showMoreNewOpinions) {
				isMine.set(false);
				newOpinionStore.set({ content: '', sentiment: '0' });
				opinionContentStore.set('');
			}
		}
	};
</script>

{#if loading}
	<Loader />
{:else}
	<h1 class="expertOpinionsHeadline">
		{expertOpinions.headline
			.replace('$$nAll$$', allEventLength.toString() || '0')
			.replace(
				'$$nTrusted$$',
				filter === 'approved' ? filteredEventLength.toString() : allEventLength.toString()
			)}
	</h1>
	<p class="description">
		{expertOpinions.description}
	</p>
	{#if filteredEventLength < 1 && allEventLength >= 1 && filter === 'approved'}
		<div class="unfilterWarning">
			<button
				class:filter-active={filter === 'approved'}
				aria-label="filter by all"
				on:click={handleAgree}
			>
				Show {allEventLength} opinion{allEventLength === 1
					? ' of an unknown author'
					: 's of unknown authors'}.
			</button>⚠️ Viewer discretion advised.
		</div>
	{/if}
	<nav class="top-nav" transition:fade>
		<div class="count-container">
			<span class="nav-count"><Positive /> {$sentimentCountStore['1']} positive</span>
			<span class="nav-count"><Neutral /> {$sentimentCountStore['0']} neutral</span>
			<span class="nav-count"><Negative /> {$sentimentCountStore['-1']} negative</span>
		</div>
		<div class="filter-container">
			<button
				class="blank-btn filter-btn"
				class:filter-active={filter === 'approved'}
				aria-label="filter by approved"
				on:click={() => {
					filter = 'approved';
					sortEvents();
					showMoreNewOpinions.set(false);
				}}>Approved</button
			>
			<button
				class="blank-btn filter-btn"
				class:filter-active={filter === 'all'}
				aria-label="filter by all"
				on:click={handleAgree}>All opinions</button
			>
		</div>
	</nav>
	<div class="opinion-container" transition:slide>
		{#each filteredEvents as event (event.id)}
			{#if $deletedEventsArrayStore.includes(event) === false}
				<OpinionCard {event} {editLvl} {subject} bind:count>
					<div slot="opinionModal">
						<OpinionModal bind:allEvents {sortEvents} {relay_urls} {event} {opinionHeader} {subject} {summary} {opinionFooter} {opinionImage} {opinionTags} {opinionTitle} />
					</div>
				</OpinionCard>
			{/if}
		{/each}
	</div>
	<button
		class="primary-btn"
		on:click={() => {
			showMoreNewOpinions.update((e) => !e);
			if (!($ndkUser?.pubkey && $profileStore[$ndkUser?.pubkey])) {
				showAuthenticationModal.set(true);
			}
			showOpinionModal.set(true);
		}}>{!$isMine ? 'Add' : 'Edit'} your opinion</button
	>
	{#if $showMoreNewOpinions && $ndkUser?.pubkey && $profileStore[$ndkUser?.pubkey] && $showOpinionModal}
		<div class="add-opinion-init" transition:fade>
			<div class="header">
				<h3>{!$isMine ? 'Add' : 'Edit'} your opinion</h3>
			</div>
			<div class="description">
				<!-- eslint-disable-next-line svelte/no-at-html-tags -->
				{@html DOMPurify.sanitize(expertOpinions.newOpinionDescription)}
			</div>
			<OpinionModal bind:allEvents {sortEvents} bind:relay_urls {published_at} {opinionHeader} {subject} {summary} {opinionFooter} {opinionImage} {opinionTags} {opinionTitle}/>
		</div>
	{/if}
{/if}
{#if showModal}
	<ConfirmationModal onAgree={agreeToShowAll} {onCancel} />
{/if}

<Login />
<Register />
<Toast />

<style>
	:host {
		--border-color: #dedede;
		--content-text-color: #606060;
		--pubkey-text-color: #7c2323;
		--date-text-color: #808080;
		--description-text-color: #808080;
		--filter-active-color: #000000;
		--filter-inactive-color: #e2e1e1;
		--button-text-color: #ffffff;
		--button-background-color: #4da84d;
		--sentiment-button-background-color: #4da84d;
		font-family:
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			'Segoe UI',
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			'Open Sans',
			'Helvetica Neue',
			sans-serif;
		font-size: medium;
	}

	::-webkit-scrollbar {
		display: none;
	}

	* {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	::-webkit-scrollbar {
		display: none;
	}

	* {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.expertOpinionsHeadline {
		font-family: 'Barlow';
	}

	.top-nav {
		display: flex;
		justify-content: space-between;
		border-top: #dedede 1px solid;
		border-bottom: #dedede 1px solid;
		padding: 20px 0;
	}
	.nav-count {
		display: flex;
		align-items: center;
	}
	.count-container {
		display: flex;
		flex-direction: row;
	}
	.description {
		margin: 10px 0;
	}
	.blank-btn {
		background-color: transparent;
		border: none;
		cursor: pointer;
	}
	.filter-container {
		display: flex;
		flex-direction: row;
	}
	.filter-container > .filter-active {
		color: #4da84d;
	}
	.filter-btn {
		color: #808080;
	}
	.primary-btn {
		color: #ffffff;
		background-color: #4da84d;
		font-size: large;
		font-weight: 600;
		padding: 7px 20px;
		border-radius: 3px;
		cursor: pointer;
		border: none;
		height: 2.5rem;
	}
	.unfilterWarning {
		padding: 7px;
		font-family: 'Barlow', Arial, Helvetica, sans-serif;
		color: #808080;
		font-size: 1em;
	}

	.unfilterWarning button {
		background-color: transparent;
		border: none;
		cursor: pointer;
		margin: none;
		color: #808080;
		font-family: 'Barlow', Arial, Helvetica, sans-serif;
		font-size: 1em;
		text-decoration: underline;
		text-decoration-thickness: 0.5px;
	}
	.opinion-container {
		max-height: 200rem;
		overflow-y: scroll;
		margin: 1rem 0;
	}
</style>
