<script lang="ts">
</script>

<div class="modal-wraper">
	<div class="modal">
		<div class="container">
			<div class="header">
				<slot name="header"></slot>
			</div>
			<slot name="body"></slot>
			<div class="text-area">
				<slot name="editor"></slot>
			</div>
			<div class="sentiments">
				<slot name="sentiments"></slot>
			</div>
			<div class="filePreview">
				<slot name="filePreview"></slot>
			</div>
			<div class="button-action">
				<slot name="submit"></slot>
			</div>
		</div>
	</div>
</div>

<style>
	.container {
		display: flex;
		flex-direction: column;
	}
	.header {
		display: flex;
		justify-content: space-between;
		padding-left: 10px;
		padding-right: 50px;
	}
	.text-area {
		width: 95%;
	}
</style>
