<script lang="ts">
	import { onMount } from 'svelte';
	import TextArea from '../../TextArea.svelte';
	import Upload from '../../Upload.svelte';
	import BaseModal from './BaseModal.svelte';
	import { ndkUser, localStore, toast, theme, showReplyModal } from '../../../stores/stores';
	import { profileImageUrl } from '../../../utils/constants';
	import { NDKlogin, privkeyLogin } from '../../../utils/helper';
	import { NDKEvent, NDKKind, NDKRelaySet } from '@nostr-dev-kit/ndk';
	import ndk from '../../../stores/provider';
	import FilePreview from '../../FilePreview.svelte';
	let username: string | undefined;
	let profileImage: string | undefined;
	export let aTag = '';
	export let event: NDKEvent;
	export let editLvl = 1;
	export let replyEvents: NDKEvent[] = [];
	export let relay: { write: string[]; read: string[] };
	let replyValue:string = "";
	let fileArray: { files: File; url: string }[] = [];
	onMount(() => {
		username =
			$ndkUser?.profile?.name || $ndkUser?.npub.slice(0, 4) + '...' + $ndkUser?.npub.slice(-4);
		profileImage = $ndkUser?.profile?.image || profileImageUrl + $ndkUser?.npub;
	});
	const submit = async () => {
		try {
			if (!$ndkUser) {
				console.error("Can't submit reply. $ndkUser is undefined");
				return;
			}
			const privkey = $localStore.pk;
			if (privkey) {
				!$ndk.signer && (await privkeyLogin(privkey));
			} else {
				!$ndk.signer && (await NDKlogin());
			}

			if(replyValue === " ") return;
			const ndkEvent = new NDKEvent($ndk);
			ndkEvent.kind = NDKKind.Text;
			ndkEvent.content = replyValue;
			ndkEvent.tags = [
				['a', aTag],
				['p', event.pubkey],
				['e', event.id, '', editLvl == 1 ? 'root' : 'reply']
			];
			if (editLvl > 1) {
				event.tags.map((e) => {
					if (e[0] === 'p') {
						if (!ndkEvent.tags.toString().includes(e.toString())) {
							ndkEvent.tags.push(e);
						}
					} else if (e[0] === 'e' && e[3] === 'root') {
						ndkEvent.tags.push(e);
					}
				});
			}
			await ndkEvent.publish(NDKRelaySet.fromRelayUrls(relay.write, $ndk));
			replyEvents = [...replyEvents, { ...ndkEvent } as NDKEvent];
			toast.set({type:"success",message:"Successfully added reply"});
		} catch (error) {
			console.error(error);
			toast.set({type:"error",message:"Something went wrong"});
		}

		showReplyModal.set(false);
	};

	function deleteFile(fileToDelete: { files: File; url: string }) {
		const url = fileArray.filter((file) => file === fileToDelete)[0].url;
		replyValue.replace(url,"");
		fileArray = fileArray.filter((file) => file !== fileToDelete);
	}
</script>

<!-- root opinion
	immediate parent reply -->
<BaseModal>
	<div slot="body">
		<p style=" text-align:left; font-weight: bolder;">
			<img class="image" src={profileImage} alt="Profile_Picture" />
			{username}
		</p>
		<!-- NOTE: i don't think we need this section anymore! -->
		<!-- <p style="text-align: left;">
				the opinion goes here ..... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque
				recusandae esse nostrum explicabo ea incidunt, placeat rerum fugiat possimus aperiam dolores.
				Neque, consequatur similique architecto dolores facilis et nam! Corrupti.
			</p> -->
	</div>
	<span slot="editor">
		<TextArea bind:replyValue/>
	</span>

	<div slot="filePreview" id="filePreview">
		{#each fileArray as file (file.url)}
			<FilePreview file={file.files} onDelete={() => deleteFile(file)} />
		{/each}
	</div>

	<div slot="submit" class="submit">
		<span><button class="button" on:click={submit}>Post</button></span>
		<span>
			<button
				class="upload"
				class:dark={$theme === 'dark'}
			>
				<Upload  bind:fileArray bind:replyValue reply={true}/> 
			</button>
		</span>
	</div>
</BaseModal>

<style>
	.image {
		border-radius: 50px;
		height: 50px;
		width: 50px;
		vertical-align: middle;
	}
	.button {
		color: #ffffff;
		background-color: #4da84d;
		padding: 7px 20px;
		border-radius: 6px;
		cursor: pointer;
		border: none;
		height: 2.5rem;
	}
	.upload {
		border: none;
		cursor: pointer;
		background-color: transparent;
		padding-top: 5px;
		border-radius: 5px;
	}
	.submit {
		display: flex;
		justify-content: flex-start;
		gap: 1rem;
	}
	#filePreview {
		display:flex; 
		gap:1rem; 
		flex-direction: row;
		flex-wrap: wrap;
		margin:1rem 0;
	}
</style>
